.navbar{
    background-color: #7DCEA0;
}

.container-fluid .navbar-brand figure img{
    max-width: 200px;
    max-width: 100px;
}

#quemsomos{
    background-color: #E8F8F5;
    max-width: 100%;
    min-height: 300px;
}

#quemsomos .container-fluid h3{
    padding-top: 20px;
    text-align: center;
}

#jogos{
    padding-top: 20px;
    text-align: center;
}

.container-fluid ul li figure img{
    padding-top: 20px;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: flex-end;
}

#jogos2{
    background-color: #E8F8F5;
}